Repository sekibuuun/Devitch_ver2: changes, and which lefthook commands are due for each by the changed paths.
All: biome, gofmt

biome:
  run: bunx biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true {staged_files} && git update-index --again

gofmt:
  run: go fmt {staged_files}

fix: アロー関数の使用をやめた
  frontend/app/routes/Genre.tsx
Due: biome

feat: post stream(titleのみ)
  frontend/app/routes/NewStream.tsx
Due: biome

feat: genreをpostできるように実装
  frontend/app/routes/NewStream.tsx
Due: biome

fix: bulk insertを使用
  backend/repositories/streamGenre.go
Due: gofmt

fix: エラーハンドリング
  frontend/app/routes/NewStream.tsx
Due: biome

install shadcn/ui
  frontend/app/lib/utils.ts
  frontend/app/root.tsx
  frontend/app/tailwind.css
  frontend/bun.lockb
  frontend/components.json
  frontend/package.json
  frontend/tailwind.config.ts
Due: biome

add: ui component
  frontend/app/components/ui/button.tsx
  frontend/app/components/ui/input.tsx
  frontend/app/components/ui/label.tsx
Due: biome

fix: UI作成[wip]
  frontend/app/routes/NewStream.tsx
Due: biome

bun format
  frontend/app/entry.client.tsx
  frontend/app/entry.server.tsx
  frontend/app/routes/_index.tsx
Due: biome

fix: entry.server.tsxを除外
  lefthook.yml
Due: none

feat: 選択したジャンルは暗くする
  frontend/app/routes/NewStream.tsx
Due: biome

feat: エラーメッセージを表示
  frontend/app/routes/NewStream.tsx
Due: biome

fix: middleware化
  backend/api/middlewares/cors.go
  backend/api/middlewares/response_writer.go
  backend/api/routers.go
  backend/handlers/handlers.go
Due: gofmt

fix: エラーメッセージの修正
  backend/handlers/handlers.go
Due: gofmt

fix: エラーメッセージの修正、列挙型の使用
  backend/handlers/handlers.go
Due: gofmt

rem
  backend/handlers/handlers.go
Due: gofmt

fix: テーブル名変更
  backend/repositories/genre.go
Due: gofmt

fix: MyAppService構造体の使用
  backend/services/genre_service.go
  backend/services/service.go
  backend/services/stream_service.go
Due: gofmt

fix: コントローラーの分離
  backend/controllers/services/services.go
Due: gofmt

feat: コントローラー層の作成
  backend/controllers/genre_controller.go
  backend/controllers/stream_controller.go
Due: gofmt

feat: コントローラー層の使用
  backend/api/routers.go
Due: gofmt

fix: 依存性の注入
  backend/main.go
Due: gofmt

fix: ジャンル一覧が、DB依存するように修正
  frontend/app/routes/NewStream.tsx
Due: biome

feat: GetStreamHandlerの作成
  backend/api/routers.go
  backend/controllers/services/services.go
  backend/controllers/stream_controller.go
  backend/repositories/stream.go
  backend/services/stream_service.go
Due: gofmt

fix: dockerの開発環境を切り離し、serverのみdockerで起動するよう修正
  Dockerfile
  backend/Dockerfile
  compose.yaml
  frontend/Dockerfile
Due: none

rename
  Makefile
Due: none

fix: localhostをbackendに変更
  frontend/app/routes/Genre.tsx
  frontend/app/routes/Hello.tsx
  frontend/app/routes/NewStream.tsx
Due: biome

fix: w.Header().Setをhandlerの処理が終わってからに変更
  backend/api/middlewares/cors.go
  backend/api/middlewares/response_writer.go
Due: gofmt

fix: resposeのmiddlewareをまとめた
  backend/api/middlewares/prepare_response.go
  backend/api/middlewares/response_writer.go
Due: gofmt

feat: middlewareの共通化、NewHealthCheckControllerの作成、redirect用のrouting追加
  backend/api/routers.go
Due: gofmt

feat: health_checkを新規作成
  backend/controllers/health_check_controller.go
  backend/controllers/services/services.go
  backend/repositories/health_check.go
  backend/services/health_check_service.go
Due: gofmt

fix: iotaの使用
  backend/controllers/stream_controller.go
Due: gofmt

ref
  backend/controllers/genre_controller.go
Due: gofmt

fix: GetGenreByIDServiceの復元
  backend/services/genre_service.go
Due: gofmt

fix: dbを操作する関数について、引数に*sql.DBを持たないように修正
  backend/repositories/genre.go
  backend/repositories/health_check.go
  backend/repositories/repositories.go
  backend/repositories/stream.go
  backend/repositories/streamGenre.go
  backend/services/repositories/repositories.go
Due: gofmt

feat: それぞれに対応するService構造体を定義
  backend/services/genre_service.go
  backend/services/health_check_service.go
  backend/services/stream_service.go
Due: gofmt

rename
  backend/services/repositories/repositories.go
Due: gofmt

feat: それぞれに対応するRepository構造体を定義
  backend/repositories/genre.go
  backend/repositories/health_check.go
  backend/repositories/stream.go
  backend/repositories/streamGenre.go
Due: gofmt

remove
  backend/repositories/repositories.go
  backend/services/service.go
Due: gofmt

fix: それぞれに対応するServiceインスタンス、Repositoryインスタンスを生成
  backend/api/routers.go
Due: gofmt

Path conditions:
  biome: any of: **/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc} and ^frontend/
  gofmt: any of: **/*.go and ^backend/
