Repository sekibuuun/Devitch_ver2: changes, and which lefthook commands are due for each by the changed paths.
All: biome, gofmt

biome:
  run: bunx biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true {staged_files} && git update-index --again

gofmt:
  run: go fmt {staged_files}

fix: command
  frontend/package.json
  lefthook.yml
Due: biome

fix: biome check
  frontend/package.json
Due: biome

feat: terminalの補完とUI変更
  Dockerfile
Due: none

feat: terminalの補完？
  .bashrc
Due: none

add: APIのドキュメント
  openapi.yml
Due: none

fix: genreをgenreidに変更
  openapi.yml
Due: none

fix: .envの使用
  compose.yaml
Due: none

fix: error
  compose.yaml
Due: none

fix: command
  Makefile
Due: none

add: create table
  backend/sql/createTable.sql
Due: none

fix: streamGenresのAPI作成
  openapi.yml
Due: none

import package
  backend/go.mod
  backend/go.sum
Due: none

feat: DB接続
  backend/main.go
  compose.yaml
Due: gofmt

fix: db名変更
  Makefile
Due: none

add: insert data
  backend/sql/insertData.sql
Due: none

ref
  backend/main.go
Due: gofmt

add: DB接続
  backend/services/service.go
Due: gofmt

fix: model定義
  backend/models/models.go
Due: gofmt

feat: route追加
  backend/api/routers.go
Due: gofmt

fix: GenreHandler作成
  backend/handlers/handlers.go
Due: gofmt

add: DBからGenreを取得
  backend/repositories/genre.go
Due: gofmt

add: service層の作成
  backend/services/genre_service.go
Due: gofmt

fix: 型の名前を変更
  frontend/app/routes/Hello.tsx
  frontend/app/types/types.ts
Due: biome

fix: 型定義
  frontend/app/types/types.ts
Due: biome

feat: genreListの取得
  frontend/app/routes/Genre.tsx
Due: biome

fix: func name
  frontend/app/routes/Genre.tsx
Due: biome

feat: エラーハンドリング
  backend/handlers/handlers.go
  backend/repositories/genre.go
Due: gofmt

fix: try, catch文の追加
  frontend/app/routes/Genre.tsx
Due: biome

fix: ユニーク制約
  backend/sql/createTable.sql
Due: none

fix: 別のフォルダにあるファイルを同時にcommitできるように
  lefthook.yml
Due: none

fix: keyの追加
  frontend/app/routes/Genre.tsx
  frontend/app/types/types.ts
Due: biome

fix: tableの追加・修正
  backend/sql/createTable.sql
Due: none

fix: テーブル名変更に伴う修正
  backend/sql/insertData.sql
Due: none

feat: router定義
  backend/api/routers.go
Due: gofmt

feat: モデル追加
  backend/models/models.go
Due: gofmt

feat: サービス層の定義
  backend/services/stream_service.go
Due: gofmt

feat: StreamHandlerの実装
  backend/handlers/handlers.go
Due: gofmt

feat: DB操作の実装
  backend/repositories/genre.go
  backend/repositories/stream.go
  backend/repositories/streamGenre.go
Due: gofmt

feat: genre_idsをjsonで返却する
  backend/repositories/stream.go
  backend/repositories/streamGenre.go
Due: gofmt

feat: genre_idが10以上の時、エラー処理
  backend/handlers/handlers.go
Due: gofmt

Path conditions:
  biome: any of: **/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc} and ^frontend/
  gofmt: any of: **/*.go and ^backend/
