Repository sekibuuun/Devitch_ver2: changes, and which lefthook commands are due for each by the changed paths.
All: biome, gofmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    biome:
      root: 'frontend/'
      glob: "**/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      exclude: "app/entry.server.tsx"
      run: bunx biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files} && git update-index --again
    gofmt:
      root: 'backend/'
      glob: '**/*.go'
      run: go fmt ./... && git update-index --again

rename
  backend/repositories/genre_repository.go
  backend/repositories/health_check_repository.go
  backend/repositories/stream_genre_repository.go
  backend/repositories/stream_repository.go
Due: gofmt

lockファイルの差分
  frontend/bun.lockb
Due: none

型定義
  frontend/app/types/types.ts
Due: biome

add: 配信表示ページの作成
  frontend/app/routes/Streams.$id.tsx
Due: biome

fix: エラーハンドリング
  frontend/app/routes/Streams.$id.tsx
Due: biome
